*,
*::before,
*::after {
   box-sizing: border-box;
   line-height: 1.5em;
}

html {
   font-size: 16px;
   scroll-behavior: smooth;
   -webkit-text-size-adjust: 100%;
}

body {
   margin: 0;
   font-family: "Open Sans", sans-serif;
   background-color: #f7f7f7;
}

header {
   background: linear-gradient(90.28deg, #0F294A 0%, #652D90 100%);
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
   padding: 10px 20px;
}

header .wrapper {
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

header .logo img {
   height: 50px;
   display: block;
}

footer {
   background: linear-gradient(90.28deg, #0F294A 0%, #652D90 100%);
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
   padding: 10px 20px;
   margin: 0px auto;
}

footer img {
   height: 50px;
   display: block;
}

#hero {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   position: relative;
}

#hero #myVideo {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100vw;
   height: 100vh;
   min-width: 100%;
}

#hero .hero-overlay {
   width: 100vw;
   height: 100%;
   top: 0px;
   display: block;
   position: absolute;
   z-index: 0;
   background: linear-gradient(315deg, #652d90 0%, #0f294a 100%);
   opacity: 0.5;
}

.hero-features {
   position: relative;
   display: flex;
   justify-content: space-between;
   margin-top: 3em;
   color: #f1f1f1;
   z-index: 0;
}

.hero-features p, svg {
   color: #f1f1f1;
   fill: #f1f1f1;
}

.container h1 {
   position: relative;
   font-size: 70px;
   color: #f1f1f1;
   line-height: 1.6rem;
   z-index: 0;
}

.container h2 {
   position: relative;
   font-size: 30px;
   color: #f1f1f1;
   line-height: 1.6rem;
   z-index: 0;
}

.yellow-rim {
   font-size: 2.5em !important;
}

.yellow-rim span {
   padding: 5px;
   background-color: #fcb900;
   border-radius: 10px;
}

.features-tag {
   display: flex;
   align-items: center;
}

.features-tag svg {
   width: 35px;
   height: 35px;
   margin: 5px;
}

#platform h2, p {
   color: #0f294a;
}

#services h2, p {
   color: #0f294a;
}

#work h2, p {
   color: #0f294a;
}

.service-columns {
   display: flex;
}

.service-columns .col-half {
   width: 50%;
}

.col-info {
   display: flex;
}

.col-info a {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	color: #0f294a;
	outline: none;
	cursor: pointer;
   text-decoration: underline;
}

.col-icon {
   border-radius: 50%;
}

.col-half img {
   width: 65px;
   height: 65px;
}

.col-icon {
   width: 65px;
   height: 65px;
}

.col-half .izwe {
   width: 128px;
}
.col-half ul {
   list-style: none;
   padding-left: 0px;
}

.clear-row {
	padding: 1em 0;
}

.clear-row a {
	width: max-content;
	margin: 2em auto;
}

.ctagreen {
	background: #652d90;
	border: 3px solid #652d90;
}

.cta {
	padding: 12px 20px;
	display: block;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
	border-radius: 8px;
	min-width: 107px;
	color: #fff;
	text-decoration: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.perks {
   display: flex;
   justify-content: space-between;
   width: 50%;
   margin: auto;
   margin-bottom: 0px;
}

.perk-stats {
   display: flex;
   align-items: center;
}

.perk-stats img {
   width: 30px;
}

.perk-stats p {
   margin-left: 10px;
   color: #652d90;
}

.blue-line {
   display: block;
   margin: auto;
   width: 400px;
   height: 4px;
   background: #0f294a;
   margin-bottom: 2em;
}

.pricing {
   justify-content: center;
   margin-top: 2em;
   margin-left: 2em;
}

.roadmap {
   justify-content: center;
   display: grid;
   margin-bottom: 2em;
}

.data-security {
   color: #f1f1f1;
}

.data-security p {
   color: #f1f1f1;
}

.data-security a {
   color: #f1f1f1;
   text-decoration: none;
   border: 1px solid #f1f1f1;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
}

.bg-purple {
   background-color: #652D90;
   padding: 10px;
}

.pricing {
   margin-bottom: 4em;
}

.pricing-block,
.values-block {
   margin-top: 4em;
   display: flex;
   justify-content: space-between;
   margin-left: 2vw;
   margin-right: 2vw;
}

.price,
.values {
   width: calc(33% - 2em);
   box-shadow: 0px 3px 5px 3px rgb(0 0 0 / 20%);
   border-radius: 15px;
   overflow: hidden;
   margin-bottom: 2em;
}

.price-block-title,
.values-block-title {
   background: #652d90;
   padding: 1em;
   text-align: center;
   color: #f1f1f1;
   font-weight: 600;
   font-size: 20px;
}

.price-block-inner,
.values-block-inner {
   background: #f1f1f1;
   border-radius: 15px;
   padding: 1em;
}

.price-block-inner ul {
   padding-left: 0px;
}

.price-block-inner li {
   display: flex;
   min-height: 45px;
   align-items: center;
}

.plain-text {
   z-index: 8;
   position: relative;
}

.dumbell {
   width: 200px;
   height: 50px;
   position: relative;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1em;
}

.dumbell span {
   display: block;
   width: 10px;
   height: 10px;
   border: 4px solid #1f1f1f;
   border-radius: 50%;
}

.bumb {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   width: 165px;
   height: 4px;
   background: #1f1f1f;
}

.locations h2{
   color: #0f294a;
}

.location-images {
   display: flex;
   width: 100%;
   justify-content: center;
}

.location {
   width: 33%;
   height: 300px;
}

.location-overlay {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   color: #f1f1f1;
   font-size: 19px;
   line-height: 24px;
   background: rgba(36, 70, 98, 0.5);
   opacity: 0;
}

.location-overlay:hover {
   opacity: 1;
}

.location-overlay p {
   color: #f1f1f1;
}

.community h2 {
   color: #0f294a;
}

.four-icons {
   display: flex;
   justify-content: space-between;
}

.community-icons {
   text-align: center;
   width: 24%;
}

.community-icons img {
   border-radius: 0;
   height: 80px;
   width: auto;
}

.community-icons h3 {
   font-weight: 500;
   font-size: 20px;
   margin: 1em 0;
}

.green-blurb {
   text-align: center;
   font-size: 1.4em;
   margin: 3em 0;
}

.green-blurb p {
   color: #652d90;
   line-height: 1.4em;
}

.green-blurn strong {
   color: #652d90 !important;
   line-height: 1.4em;
}

.clients {
   padding: 2em 0;
}

.clients .title {
   margin-bottom: 0;
}

.clients .title h2 {
   margin-bottom: 20px;
   color: #fbbc05;
}

.client-logo-slider {
   width: 100%;
}

.slick-slider {
   margin-bottom: 30px;
   position: relative;
   display: block;
   box-sizing: border-box;
   user-select: none;
}

.slick-list {
   position: relative;
   display: block;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

.slick-track {
   position: relative;
   top: 0;
   left: 0;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
}

.slick-slide {
   display: block;
   float: left;
   height: 100%;
   min-height: 1px;
}

.slick-slide img {
   display: block;
   width: 100%;
}

.social-feed {
   margin-bottom: 3em;
}

.social-feed h2 {
   color: #0f294a;
}

.social-feed img {
   height: 50px;
   display: block;
}