<html>
	<div class="footer-container">
		<div class="footer-row">
			<div class="footer-col">
				<a href="index.html"><img src="../img/logo.svg" alt="Enlabeler"></a>
			</div>
			<div class="footer-col">
				<h4>Solutions</h4>
				<ul>
					<li><a href="#">Solutions</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>Pricing</h4>
				<ul>
					<li><a href="#">Pricing</a></li>
					<li><a href="../Enlabeler-Company-Brochure-202211.pdf" target="_blank">Download Brochure</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>About Us</h4>
				<ul>
					<li><a href="#">About Us</a></li>
				</ul>
			</div>
		</div>
		<div class="social-icons">
			<a href="https://www.linkedin.com/company/enlabeler" target="_blank"><img src="../img/in.png"></a>
			<a href="https://www.youtube.com/channel/UCepEp967MWXqCkrgYP8f3-g/featured" target="_blank"><img src="../img/yt.png"></a>
		</div>
		<div class="copyright">©Copyright 2023 | Enlabeler | All Rights Reserved</div>
	</div>
</html>