<html>
	<head>
		<script src="../js/navbar.js"/></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="logo">
				<a href="index.html"><img src="../img/logo.svg"></a>
			</div>
			<div class="navbar">
				<div class="close-nav"><button>x</button></div>
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Login</a></li>
					</ul>
				</nav>
			</div>
			<div class="menu-bar">
				<button><i></i></button>
			</div>
		</div>
	</body>
</html>